    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      <section class="main">
        {{> "systems/smt-200x/templates/actor/parts/actor-effects.hbs"}}
      </section>
      <hr>

      <section>
        <div class='flexrow flex-group-center'>
          <div class="flex2"><strong>Ready Weapon</strong></div>
          <div><strong>Type</strong></div>
          <div><strong>Hit Mod</strong></div>
          <div><strong>Pwr Mod</strong></div>
        </div>

        <div class='flexrow flex-group-center'>
          <div class='flexrow flex2 item-name' style="align-items: center">
            <label for="system.wepA.name" class="flex0"><strong>A:</strong>&nbsp;</label>
            <input type="text" name="system.wepA.name" value="{{system.wepA.name}}" disabled />
          </div>
          <input type="text" name="system.wepA.type" value="{{system.wepA.type}}" disabled />
          <input type="text" name="system.wepA.hit" value="{{system.wepA.hit}}" data-dtype="Number" disabled />
          <input type="text" name="system.wepA.power" value="{{system.wepA.power}}" data-dtype="Number" disabled />
        </div>

        <div class='flexrow flex-group-center'>
          <div class='flexrow flex2 item-name' style="align-items: center">
            <label for="system.wepB.name" class="flex0"><strong>B:</strong>&nbsp;</label>
            <input type="text" name="system.wepB.name" value="{{system.wepB.name}}" />
          </div>
          <input type="text" name="system.wepB.type" value="{{system.wepB.type}}" />
          <input type="text" name="system.wepB.hit" value="{{system.wepB.hit}}" data-dtype="Number" />
          <input type="text" name="system.wepB.power" value="{{system.wepB.power}}" data-dtype="Number" />
        </div>
      </section>

      <hr>

      <section class="main">
        <div class="grid grid-6col">
          <div class="flexcol">
            <label for="system.hp.mult" class="resource-label">HP Multiplier</label>
            <input type="text" name="system.hp.mult" value="{{system.hp.mult}}" data-dtype="Number" />
          </div>

          <div class="flexcol">
            <label for="system.mp.mult" class="resource-label">MP Multiplier</label>
            <input type="text" name="system.mp.mult" value="{{system.mp.mult}}" data-dtype="Number" />
          </div>

          <div class="flexcol">
            <label class="resource-label"
              title="Tokyo Conception Demon Favored Stat (marks an asterisk by a stat for randomized level-up stats)">Favored
              Stat</label>
            <select name="system.favoredStat">
              <option value="none">None</option>
              {{selectOptions @root.config.stats selected=system.favoredStat localize=true}}
            </select>
          </div>

          <div class="flexcol">
            <label for="system.unarmed.hit" class="resource-label">Unarmed Hit</label>
            <input type="text" name="system.unarmed.hit" value="{{system.unarmed.hit}}" data-dtype="Number" />
          </div>

          <div class="flexcol">
            <label for="system.unarmed.power" class="resource-label">Unarmed Power</label>
            <input type="text" name="system.unarmed.power" value="{{system.unarmed.power}}" data-dtype="Number" />
          </div>

          <div class="flexcol">
            <label for="system.powerDice.item" class="resource-label">Item Power Dice</label>
            <input type="text" name="system.powerDice.item" value="{{system.powerDice.item}}" data-dtype="Number" />
          </div>

          <div class="flexcol">
            <label for="system.allowFate" class="resource-label">Show Spend Fate Prompt</label>
            <input type="checkbox" name="system.allowFate" {{#if system.allowFate}}checked{{/if}} />
          </div>

          <div class="flexcol">
            <label for="system.isBoss" class="resource-label">Is X Boss</label>
            <input type="checkbox" name="system.isBoss" {{#if system.isBoss}}checked{{/if}} />
          </div>

          <div class="flexcol">
            <label for="system.autoEXP" class="resource-label">Auto Calc X EXP/Macca</label>
            <input type="checkbox" name="system.autoEXP" {{#if system.autoEXP}}checked{{/if}} />
          </div>
        </div>
      </section>


      <br><br>
      <section class="main">
        {{> "modules/smt-200x-kyane-sheet/templates/part-affinity-bs-selectors.hbs"}}
      </section>
    </div>