    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/smt-200x/templates/actor/parts/actor-buffs.hbs"}}

      <hr>

      <section class="main">
        {{> "systems/smt-200x/templates/actor/parts/actor-effects.hbs"}}
      </section>
      <hr>
      <section class="main">
        <div class="flexcol">
          <label for="system.phydefFormula" class="resource-label">Physical Defense Formula</label>
          <input style="font-size: 10pt; font-style: italic;"
            value="Demons: + @system.attributes.level    --    Tokyo Conception: floor((@system.stats.vt.value + @system.attributes.level)/2)"
            disabled />
          <input type="text" name="system.phydefFormula" value="{{system.phydefFormula}}" />
        </div>

        <div class="flexcol">
          <label for="system.magdefFormula" class="resource-label">Magical Defense Formula</label>
          <input style="font-size: 10pt; font-style: italic;"
            value="Demons: + @system.attributes.level    --    Tokyo Conception: floor((@system.stats.mg.value + @system.attributes.level)/2)"
            disabled />
          <input type="text" name="system.magdefFormula" value="{{system.magdefFormula}}" />
        </div>

        <div class="flexcol">
          <label for="system.initFormula" class="resource-label">Initiative Formula</label>
          <input style="font-size: 10pt; font-style: italic;" value="Tokyo Conception: @system.stats.ag.value"
            disabled />
          <input type="text" name="system.initFormula" value="{{system.initFormula}}" />
        </div>
      </section>

      <hr>

      <section>
        <div class='flexrow flex-group-center'>
          <div class="flex2"><strong>Ready Weapon</strong></div>
          <div><strong>Type</strong></div>
          <div><strong>Hit Mod</strong></div>
          <div><strong>Pwr Mod</strong></div>
        </div>

        <div class='flexrow flex-group-center'>
          <div class='flexrow flex2 item-name' style="align-items: center">
            <label for="system.wepA.name" class="flex0"><strong>A:</strong>&nbsp;</label>
            <input type="text" name="system.wepA.name" value="{{system.wepA.name}}" disabled />
          </div>
          <input type="text" name="system.wepA.type" value="{{system.wepA.type}}" disabled />
          <input type="text" name="system.wepA.hit" value="{{system.wepA.hit}}" data-dtype="Number" disabled />
          <input type="text" name="system.wepA.power" value="{{system.wepA.power}}" data-dtype="Number" disabled />
        </div>

        <div class='flexrow flex-group-center'>
          <div class='flexrow flex2 item-name' style="align-items: center">
            <label for="system.wepB.name" class="flex0"><strong>B:</strong>&nbsp;</label>
            <input type="text" name="system.wepB.name" value="{{system.wepB.name}}" />
          </div>
          <input type="text" name="system.wepB.type" value="{{system.wepB.type}}" />
          <input type="text" name="system.wepB.hit" value="{{system.wepB.hit}}" data-dtype="Number" />
          <input type="text" name="system.wepB.power" value="{{system.wepB.power}}" data-dtype="Number" />
        </div>
      </section>

      <hr>

      <section class="main">
        <div class="grid grid-5col">
          <div class="flexcol">
            <label for="system.hp.mult" class="resource-label">HP Multiplier</label>
            <input type="text" name="system.hp.mult" value="{{system.hp.mult}}" data-dtype="Number" />
          </div>

          <div class="flexcol">
            <label for="system.mp.mult" class="resource-label">MP Multiplier</label>
            <input type="text" name="system.mp.mult" value="{{system.mp.mult}}" data-dtype="Number" />
          </div>

          <div class="flexcol">
            <label for="system.unarmed.hit" class="resource-label">Unarmed Hit</label>
            <input type="text" name="system.unarmed.hit" value="{{system.unarmed.hit}}" data-dtype="Number" />
          </div>

          <div class="flexcol">
            <label for="system.unarmed.power" class="resource-label">Unarmed Power</label>
            <input type="text" name="system.unarmed.power" value="{{system.unarmed.power}}" data-dtype="Number" />
          </div>

          <div class="flexcol">
            <label for="system.powerDice.item" class="resource-label">Item Power Dice</label>
            <input type="text" name="system.powerDice.item" value="{{system.powerDice.item}}" data-dtype="Number" />
          </div>

          <div class="flexcol">
            <label for="system.aux.showTCheaders" class="resource-label">Set TC Formulas</label>
            <button class="set-tc-formulas"
              style="padding: 10px 15px; background-color: #007bff; color: #fff; border: none; border-radius: 5px; cursor: pointer;">Set
              TC Formulas</button>
          </div>

          <div class="flexcol">
            <label for="system.aux.showTCheaders" class="resource-label">Set X Demon Formulas</label>
            <button class="set-x-demon"
              style="padding: 10px 15px; background-color: #007bff; color: #fff; border: none; border-radius: 5px; cursor: pointer;">Set
              X Demon Formulas</button>
          </div>

          <div class="flexcol">
            <label for="system.isBoss" class="resource-label">Is X Boss</label>
            <input type="checkbox" name="system.isBoss" {{#if system.isBoss}}checked{{/if}} />
          </div>

          <div class="flexcol">
            <label for="system.autoEXP" class="resource-label">Auto Calc X EXP/Macca</label>
            <input type="checkbox" name="system.autoEXP" {{#if system.autoEXP}}checked{{/if}} />
          </div>
        </div>
      </section>

      <hr>

      <section class="main">
        <div class="flexrow">
          {{#each system.affinity as |aff key|}}
          <div class="flexcol">
            <label for="system.affinity.{{key}}" class="resource-label align-center">{{localize
              (lookup @root.config.affinities key)}}</label>
            <select name="system.affinity.{{key}}">
              {{selectOptions @root.config.charAffinity selected=aff localize=true}}
            </select>
          </div>
          {{/each}}
        </div>
        <div class="flexrow">
          {{#each system.affinityBS as |aff key|}}
          <div class="flexcol">
            <label for="system.affinityBS.{{key}}" class="resource-label align-center">{{localize
              (lookup @root.config.badStatusList key)}}</label>
            <select name="system.affinityBS.{{key}}">
              {{selectOptions @root.config.charAffinity selected=aff localize=true}}
            </select>
          </div>
          {{/each}}
        </div>
      </section>
    </div>