<form class="{{cssClass}} {{actor.type}} grid-form" autocomplete="off">
    <div class="sidebar" id="smt-200x-kyane-sidebar">

        <div class="sidebar-separation">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="175"
                width="175" />
        </div>

        <div class="abilities flexcol sidebar-separation">
            {{#each system.stats as |ability key|}}
                {{> "modules/smt-200x-kyane-sheet/templates/actor/parts/actor-stats.hbs" key=key ability=ability fStat=../system.favoredStat}}
            {{/each}}
        </div>

        <div class="sidebar-separation">
            {{> "modules/smt-200x-kyane-sheet/templates/actor/parts/actor-sidebar-derived-stats.hbs"}}
        </div>


    </div>
    <div class="main" id="smt-200x-kyane-main">
        <header class="sheet-header">

            <div class="header-fields grid grid-8col">
                <h1 class="charname grid-span-6"><input name="name" type="text" value="{{actor.name}}"
                        placeholder="Name" /></h1>

                <div class="resources grid grid-6col">

                    <div class="grid-span-2 resource flex-group-center">
                        <div class="resource-numbers flexrow">
                            <label for="system.hp.value" class="resource-label">HP</label>
                            <div class="flexrow flex-center align-right">
                                <input type="text" class="resource-number" name="system.hp.value"
                                    value="{{system.hp.value}}" data-dtype="Number" />
                                <span>/</span>
                                <span class="resource-number">{{system.hp.max}}</span>
                            </div>
                        </div>
                        <div class="resource-gauge">
                            <progress class="resource-gauge-graphics rgg-hp" max="{{system.hp.max}}"
                                value="{{system.hp.value}}">{{system.hp.value}}</progress>
                        </div>
                    </div>

                    <div class="grid-span-2 resource flex-group-center">
                        <div class="resource-numbers flexrow flex-center">
                            <label for="system.mp.value" class="resource-label">MP</label>
                            <div class="flexrow flex-center align-right">
                                <input type="text" class="resource-number" name="system.mp.value"
                                    value="{{system.mp.value}}" data-dtype="Number" />
                                <span>/</span>
                                <span class="resource-number">{{system.mp.max}}</span>
                            </div>
                        </div>
                        <div class="resource-gauge">
                            <progress class="resource-gauge-graphics rgg-mp" max="{{system.mp.max}}"
                                value="{{system.mp.value}}">{{system.mp.value}}</progress>
                        </div>
                    </div>

                    <div class="grid-span-2 resource flex-group-center">
                        <div class="resource-numbers flexrow flex-center">
                            <label for="system.fate.value" class="resource-label">FATE</label>
                            <div class="flexrow flex-center align-right">
                                <input type="text" class="resource-number" name="system.fate.value"
                                    value="{{system.fate.value}}" data-dtype="Number" />
                                <span>/</span>
                                <span class="resource-number">{{system.fate.max}}</span>
                            </div>
                        </div>
                        <div class="resource-gauge">
                            <progress class="resource-gauge-graphics rgg-fate" max="{{system.fate.max}}"
                                value="{{system.fate.value}}">{{system.fate.value}}</progress>
                        </div>
                    </div>


                </div>

                <div class="level-partial">
                    {{> "modules/smt-200x-kyane-sheet/templates/actor/parts/npc-level.hbs"}}
                </div>
            </div>

            <div class="grid grid-8col" style="flex-basis: 100%;">
                <div class="flexcol grid-span-3">
                    <div class="flexcol flex-group-center grid-span-3">
                        <label class="resource-label flex0">Affinities</label>
                        <div class='flexrow'>
                            <input type="text" name="system.affinityField" value="{{system.affinityField}}" />
                        </div>
                    </div>
                    <div class="flexrow">

                        <div class="flexcol flex-group-center">
                            <label for="system.badStatus" class="resource-label align-right">Current
                                BS</label>
                            <select name="system.badStatus">
                                {{selectOptions @root.config.badStatusList selected=system.badStatus localize=true}}
                            </select>
                        </div>
                        <div class="flexcol flex-group-center">
                            <label for="system.isCursed" class="resource-label align-right">!CURSED!&nbsp;</label>
                            <input type="checkbox" name="system.isCursed" {{#if system.isCursed}}checked{{/if}} />
                        </div>
                    </div>
                </div>


                <div class='grid grid-5col flex-group-center equipped-weapons'>
                    <div class="grid-span-5 flex-group-center">
                        <label for="system.fuseID" class="resource-label">Fuse ID</label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <input type="text" name="system.fuseID" value="{{system.fuseID}}" />
                        </div>
                        <textarea class="npc-biography" name="system.biography" rows="5" cols="40">{{system.biography}}</textarea>
                    </div>
                </div>

                <div class="grid grid-8col npc-info">
                    <div class="flexcol flex-between grid-span-8">
                        <div class="flexrow">
                            <label for="system.alignment" class="resource-label">&nbsp;Alignment&nbsp;</label>
                            <input type="text" name="system.alignment" class="flex2" value="{{system.alignment}}" />

                            {{#if system.aux.showTCheaders}}
                                <label for="system.tone" class="resource-label">&nbsp;Behavior&nbsp;</label>
                            {{else}}
                                <label for="system.tone" class="resource-label">&nbsp;Tone&nbsp;</label>
                            {{/if}}
                            <input type="text" name="system.tone" class="flex2" value="{{system.tone}}" />
                        </div>

                        <div class="flexrow">
                            {{#if system.aux.showTCheaders}}
                                <label for="system.keywords" class="resource-label">&nbsp;Evolve?&nbsp;</label>
                            {{else}}
                                <label for="system.keywords" class="resource-label">&nbsp;Keywords&nbsp;</label>
                            {{/if}}
                            <input type="text" name="system.keywords" class="flex2" value="{{system.keywords}}" />


                            {{#if system.aux.showTCheaders}}
                                <label for="system.ngWords" class="resource-label">&nbsp;Inherits&nbsp;</label>
                            {{else}}
                                <label for="system.ngWords" class="resource-label">&nbsp;NG Words&nbsp;</label>
                            {{/if}}
                            <input type="text" name="system.ngWords" class="flex2" value="{{system.ngWords}}" />
                        </div>
                    </div>

                    <div class="flexcol flex-between grid-span-8">
                        <div class="flexrow flex-between">
                            <label for="system.loot" class="resource-label flex0">&nbsp;Loot&nbsp;</label>
                            <input type="text" name="system.loot" class="flex2" value="{{system.loot}}" />

                            <label for="system.attributes.exp.tierOne"
                                class="resource-label flex0">&nbsp;EXP&nbsp;</label>
                            <input type="text" name="system.attributes.exp.tierOne" class="flex1"
                                value="{{system.attributes.exp.tierOne}}" {{#if system.autoEXP}}disabled{{/if}} />
                        </div>

                        <div class="flexrow flex-between">
                            <label for="system.rare" class="resource-label flex0">&nbsp;Rare&nbsp;</label>
                            <input type="text" name="system.rare" class="flex2" value="{{system.rare}}" />

                            <label for="system.macca" class="resource-label flex0">&nbsp;Macca&nbsp;</label>
                            <input type="text" name="system.macca" class="flex1" value="{{system.macca}}" {{#if
            system.autoEXP}}disabled{{/if}} />
                        </div>
                    </div>
                </div>

            </div>
        </header>


        <div class="sheet-tabs-container-npc">
            {{!-- Sheet Tab Navigation --}}
            <nav class="sheet-tabs tabs" data-group="primary">
                {{!-- Default tab is specified in actor-sheet.mjs --}}
                <a class="item" data-tab="features">Features</a>
                <a class="item" data-tab="effects">Options</a>
            </nav>

            {{!-- Sheet Body --}}
            <section class="sheet-body sheet-body-npc">
                {{!-- Owned Features Tab --}}
                <div class="tab features" data-group="primary" data-tab="features">
                    <section class="main">
                        {{> "modules/smt-200x-kyane-sheet/templates/actor/parts/npc-features.hbs"}}
                    </section>


                    <section class="main">
                        {{> "modules/smt-200x-kyane-sheet/templates/actor/parts/actor-passives.hbs"}}
                    </section>
                </div>

                {{!-- Active Effects Tab --}}
                <div class="tab effects flexcol" data-group="primary" data-tab="effects">
                    {{> "modules/smt-200x-kyane-sheet/templates/actor/parts/npc-options.hbs"}}
                </div>
            </section>
        </div>
    </div>


</form>