<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

	{{!-- Sheet Header --}}
	<header class="sheet-header">
		<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
		<div class="header-fields">
			<h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
			{{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns. --}}
			<div class="resources grid grid-6col">
				{{!-- "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. --}}
				<div class="resource flex-group-center">
					<label for="system.hp.value" class="resource-label">HP</label>
					<div class="resource-content flexrow flex-center flex-between">
						<input type="text" name="system.hp.value" value="{{system.hp.value}}" data-dtype="Number" />
						<input type="text" name="system.hp.max" value="{{system.hp.max}}" data-dtype="Number"
							disabled />
					</div>
				</div>

				<div class="resource flex-group-center">
					<label for="system.mp.value" class="resource-label">MP</label>
					<div class="resource-content flexrow flex-center flex-between">
						<input type="text" name="system.mp.value" value="{{system.mp.value}}" data-dtype="Number" />
						<input type="text" name="system.mp.max" value="{{system.mp.max}}" data-dtype="Number"
							disabled />
					</div>
				</div>

				<div class="resource flex-group-center">
					<label for="system.fate.value" class="resource-label">Fate</label>
					<div class="resource-content flexrow flex-center flex-between">
						<input type="text" name="system.fate.value" value="{{system.fate.value}}" data-dtype="Number" />
						<input type="text" name="system.fate.max" value="{{system.fate.max}}" data-dtype="Number"
							disabled />
					</div>
				</div>

				<div class="resource flex-group-center">
					<label for="system.attributes.level" class="resource-label">Level</label>
					<div class="resource-content flexrow flex-center flex-between">
						<input type="text" name="system.attributes.level" value="{{system.attributes.level}}"
							data-dtype="Number" disabled />
					</div>
				</div>

				<div class="resource flex-group-center">
					<label for="system.attributes.totalexp" class="resource-label">EXP</label>
					<div class="resource-content flexrow flex-center flex-between">
						<input type="text" name="system.attributes.totalexp" value="{{system.attributes.totalexp}}"
							data-dtype="Number" disabled />
					</div>
				</div>

				<div class="resource flex-group-center">
					<label for="system.attributes.expnext" class="resource-label">NEXT</label>
					<div class="resource-content flexrow flex-center flex-between">
						<input type="text" name="system.attributes.expnext" value="{{system.attributes.expnext}}"
							data-dtype="Number" disabled />
					</div>
				</div>

			</div>
		</div>
		<div class="grid grid-5col" style="flex-basis: 100%;">
			<div class="abilities flexcol">
				{{#each system.stats as |ability key|}}
					<div class="ability flexrow flex-group-center">
						<label for="system.stats.{{key}}.value" class="resource-label clickable {{key}}-roll align-left"
							data-roll="d100"
							data-label="{{localize (lookup @root.config.statAbbreviations key)}}">{{localize
            (lookup @root.config.statAbbreviations key)}}</label>
						<input type="text" name="system.stats.{{key}}.value" class="update-stat"
							value="{{ability.value}}" data-dtype="Number" />
						<span class="ability-mod"
							data-label="{{localize (lookup @root.config.stats key)}}">{{ability.tn}}%</span>
					</div>
				{{/each}}
			</div>

			<div class="flexrow grid-span-2">
				<div class="align-center" style="border: 2px groove #eeede0;">
					<label for="system.meleePower" class="resource-label">Melee</label>
					<div>
						<h1 class="melee-power-roll clickable">{{system.meleePower}}</h1>
					</div>
					<div class="flexrow flex-group-center" style="padding: 6px;">+&nbsp;<input type="text"
							name="system.powerDice.melee" value="{{system.powerDice.melee}}"
							data-dtype="Number" />&nbsp;d10</div>
				</div>

				<div class="align-center" style="border: 2px groove #eeede0;">
					<label for="system.rangedPower" class="resource-label">Ranged</label>
					<div>
						<h1 class="ranged-power-roll clickable">{{system.rangedPower}}</h1>
					</div>
					<div class="flexrow flex-group-center" style="padding: 6px;">+&nbsp;<input type="text"
							name="system.powerDice.ranged" value="{{system.powerDice.ranged}}"
							data-dtype="Number" />&nbsp;d10</div>
				</div>

				<div class="align-center" style="border: 2px groove #eeede0;">
					<label for="system.spellPower" class="resource-label">Spell</label>
					<div>
						<h1 class="spell-power-roll clickable">{{system.spellPower}}</h1>
					</div>
					<div class="flexrow flex-group-center" style="padding: 6px;">+&nbsp;<input type="text"
							name="system.powerDice.spell" value="{{system.powerDice.spell}}"
							data-dtype="Number" />&nbsp;d10</div>
				</div>

				<div class="align-center" style="border: 2px groove #eeede0;">
					<label for="system.init" class="resource-label">Init</label>
					<div>
						<h1 class="initiative-roll clickable">{{system.init}}</h1>
					</div>
					<div class="flexrow flex-group-center" style="padding: 6px;">+&nbsp;<input type="text"
							name="system.powerDice.init" value="{{system.powerDice.init}}"
							data-dtype="Number" />&nbsp;d10</div>
				</div>


				<div class="flexrow" style="flex-basis: 100%;">
					<div class="align-center" style="border: 2px groove #eeede0;">
						<label for="system.init" class="resource-label">Dodge TN</label>
						<div>
							<h1 class="dodge-roll clickable">{{system.dodgetn}}%</h1>
						</div>
					</div>

					<div class="align-center" style="border: 2px groove #eeede0;">
						<label for="system.init" class="resource-label">Talk TN</label>
						<div>
							<h1 class="talk-roll clickable">{{system.talktn}}%</h1>
						</div>
					</div>

					<div class="align-center" style="border: 2px groove #eeede0;">
						<label for="system.init" class="resource-label">Phy Def</label>
						<div>
							<h1>{{system.phydef}}</h1>
						</div>
					</div>

					<div class="align-center" style="border: 2px groove #eeede0;">
						<label for="system.init" class="resource-label">Mag Def</label>
						<div>
							<h1>{{system.magdef}}</h1>
						</div>
					</div>
				</div>
			</div>
			<div class="flexcol grid-span-2">
				<div class='flexrow' style="justify-content: center; align-items: center;">
					<label class="resource-label flex0">Affinity&nbsp;</label>
					<label for="system.badStatus" class="resource-label align-right">Current BS:&nbsp;</label>
					<select name="system.badStatus">
						{{selectOptions @root.config.badStatusList selected=system.badStatus localize=true}}
					</select>
					<label for="system.isCursed" class="resource-label align-right">!CURSED!&nbsp;</label>
					<input type="checkbox" name="system.isCursed" {{#if system.isCursed}}checked{{/if}} />
				</div>


				<div class='flexrow'>
					<input type="text" name="system.affinityField" value="{{system.affinityField}}" />
				</div>


				<div class='grid grid-8col flex-group-center'>
					<div class="grid-span-4"><strong>Ready Weapon</strong></div>
					<div class="grid-span-2"><strong>Ammo</strong></div>
					<div><strong>Hit</strong></div>
					<div><strong>Pwr</strong></div>

					<div class='flexrow grid-span-4 item-name' style="align-items: center">
						<label for="system.wepA.name" class="flex0"><strong>A:</strong>&nbsp;</label>
						<input type="text" name="system.wepA.name" value="{{system.wepA.name}}" />
					</div>
					<input type="text" name="system.wepA.ammo" value="{{system.wepA.ammo}}" data-dtype="Number" />
					<input type="text" name="system.wepA.maxAmmo" value="{{system.wepA.maxAmmo}}" data-dtype="Number" />
					<input type="text" name="system.wepA.hit" value="{{system.wepA.hit}}" data-dtype="Number" />
					<input type="text" name="system.wepA.power" value="{{system.wepA.power}}" data-dtype="Number" />

					<div class='flexrow grid-span-4 item-name' style="align-items: center">
						<label for="system.wepB.name" class="flex0"><strong>B:</strong>&nbsp;</label>
						<input type="text" name="system.wepB.name" value="{{system.wepB.name}}" />
					</div>
					<input type="text" name="system.wepB.ammo" value="{{system.wepB.ammo}}" data-dtype="Number" />
					<input type="text" name="system.wepB.maxAmmo" value="{{system.wepB.maxAmmo}}" data-dtype="Number" />
					<input type="text" name="system.wepB.hit" value="{{system.wepB.hit}}" data-dtype="Number" />
					<input type="text" name="system.wepB.power" value="{{system.wepB.power}}" data-dtype="Number" />
				</div>

			</div>
		</div>
	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		{{!-- Default tab is specified in actor-sheet.mjs --}}
		<a class="item" data-tab="features">Features</a>
		<a class="item" data-tab="items">Items</a>
		<a class="item" data-tab="description">Description</a>
		<a class="item" data-tab="effects">Options</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- Owned Features Tab --}}
		<div class="tab features" data-group="primary" data-tab="features">
			<section class="main">
				{{> "systems/smt-200x/templates/actor/parts/actor-features.hbs"}}
			</section>


			<section class="main">
				{{> "systems/smt-200x/templates/actor/parts/actor-passives.hbs"}}
			</section>
		</div>



		{{!-- Items Tab --}}
		<div class="tab items" data-group="primary" data-tab="items">
			<section class="main">
				{{> "systems/smt-200x/templates/actor/parts/actor-consumables.hbs"}}
			</section>

			<section class="grid grid-2col">
				<div>
					{{> "systems/smt-200x/templates/actor/parts/actor-armor.hbs"}}
				</div>
				<div>
					{{> "systems/smt-200x/templates/actor/parts/actor-weapons.hbs"}}
				</div>
			</section>
		</div>



		{{!-- Biography Tab --}}
		<div class="tab biography" data-group="primary" data-tab="description">
			<div class="flexrow">
				<div class="flex2">
					<div class="grid grid-12col">
						<label for="system.sex" class="resource-label">Sex</label>
						<input type="text" name="system.sex" class="grid-span-3" value="{{system.sex}}" />
						<label for="system.age" class="resource-label">Age</label>
						<input type="text" name="system.age" class="grid-span-3" value="{{system.age}}" />
						<label for="system.race" class="resource-label">Race</label>
						<input type="text" name="system.race" class="grid-span-3" value="{{system.race}}" />
					</div>
					<div class="grid grid-4col flex-group-center">
						{{#if system.aux.showTCheaders}}
							<label class="resource-label align-left">EXP Rate</label>
							<label class="resource-label">Human</label>
							<label class="resource-label">Fiend</label>
							<label class="resource-label">Demon</label>
						{{else}}
							<label class="resource-label align-left">Awakening Tier</label>
							<label class="resource-label">I Gifted</label>
							<label class="resource-label">II Awakened</label>
							<label class="resource-label">III Metahuman</label>
						{{/if}}
					</div>
					<div class="grid grid-4col">
						{{#if system.aux.showTCheaders}}
							<label class="resource-label">Details</label>
						{{else}}
							<label class="resource-label">Classes</label>
						{{/if}}
						<input type="text" name="system.class1" value="{{system.class1}}" />
						<input type="text" name="system.class2" value="{{system.class2}}" />
						<input type="text" name="system.class3" value="{{system.class3}}" />
					</div>
					<div class="grid grid-4col">
						<label for="x" class="resource-label">Experience</label>
						<input type="text" name="system.attributes.exp.tierOne"
							value="{{system.attributes.exp.tierOne}}" data-dtype="Number" />
						<input type="text" name="system.attributes.exp.tierTwo"
							value="{{system.attributes.exp.tierTwo}}" data-dtype="Number" />
						<input type="text" name="system.attributes.exp.tierThree"
							value="{{system.attributes.exp.tierThree}}" data-dtype="Number" />
					</div>
					<div class="grid grid-4col">
						<label for="system.backgrounds" class="resource-label">Backgrounds</label>
						<input type="text" name="system.backgrounds" class="grid-span-3"
							value="{{system.backgrounds}}" />
					</div>
					<div class="grid grid-4col">
						<label for="system.contacts" class="resource-label">Contacts</label>
						<input type="text" name="system.contacts" class="grid-span-3" value="{{system.contacts}}" />
					</div>

					<div class="grid grid-12col">
						<label for="system.law" class="resource-label">Law</label>
						<input type="text" name="system.law" value="{{system.law}}" data-dtype="Number" />
						<label for="system.chaos" class="resource-label">Chaos</label>
						<input type="text" name="system.chaos" value="{{system.chaos}}" data-dtype="Number" />
						<label for="system.neutral" class="resource-label">Neutral</label>
						<input type="text" name="system.neutral" value="{{system.neutral}}" data-dtype="Number" />
						<label for="system.light" class="resource-label">Light</label>
						<input type="text" name="system.light" value="{{system.light}}" data-dtype="Number" />
						<label for="system.dark" class="resource-label">Dark</label>
						<input type="text" name="system.dark" value="{{system.dark}}" data-dtype="Number" />
						<label for="system.heeho" class="resource-label">Hee-ho</label>
						<input type="text" name="system.heeho" value="{{system.heeho}}" data-dtype="Number" />
					</div>

					<div class="flexrow">
						<div class="flexcol">
							<label for="system.alignment" class="resource-label">Alignment</label>
							<input type="text" name="system.alignment" value="{{system.alignment}}" />
						</div>

						<div class="flexcol">
							<label for="system.macca" class="resource-label">Held Macca</label>
							<input type="text" name="system.macca" value="{{system.macca}}" data-dtype="Number" />
						</div>
					</div>
				</div>
				<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"
					style="height: 300px" />
			</div>
			<hr>
			{{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
			{{editor enrichedBiography target="system.biography" engine="prosemirror" button=true editable=editable}}
		</div>



		{{!-- Active Effects Tab --}}
		<div class="tab effects flexcol" data-group="primary" data-tab="effects">
			{{> "systems/smt-200x/templates/actor/parts/actor-buffs.hbs"}}

			<hr>

			<section class="main">
				{{> "systems/smt-200x/templates/actor/parts/actor-effects.hbs"}}
			</section>
			<hr>
			<section class="main">
				<div class="flexcol">
					<label for="system.phydefFormula" class="resource-label">Physical Defense Formula</label>
					<input style="font-size: 10pt; font-style: italic;"
						value="Demons: + @system.attributes.level    --    Tokyo Conception: floor((@system.stats.vt.value + @system.attributes.level)/2)"
						disabled />
					<input type="text" name="system.phydefFormula" value="{{system.phydefFormula}}" />
				</div>

				<div class="flexcol">
					<label for="system.magdefFormula" class="resource-label">Magical Defense Formula</label>
					<input style="font-size: 10pt; font-style: italic;"
						value="Demons: + @system.attributes.level    --    Tokyo Conception: floor((@system.stats.mg.value + @system.attributes.level)/2)"
						disabled />
					<input type="text" name="system.magdefFormula" value="{{system.magdefFormula}}" />
				</div>

				<div class="flexcol">
					<label for="system.initFormula" class="resource-label">Initiative Formula</label>
					<input style="font-size: 10pt; font-style: italic;" value="Tokyo Conception: @system.stats.ag.value"
						disabled />
					<input type="text" name="system.initFormula" value="{{system.initFormula}}" />
				</div>
			</section>

			<hr>

			<section class="main">
				<div class="grid grid-5col">
					<div class="flexcol">
						<label for="system.hp.mult" class="resource-label">HP Multiplier</label>
						<input type="text" name="system.hp.mult" value="{{system.hp.mult}}" data-dtype="Number" />
					</div>

					<div class="flexcol">
						<label for="system.mp.mult" class="resource-label">MP Multiplier</label>
						<input type="text" name="system.mp.mult" value="{{system.mp.mult}}" data-dtype="Number" />
					</div>

					<div class="flexcol">
						<label for="system.unarmed.hit" class="resource-label">Unarmed Hit</label>
						<input type="text" name="system.unarmed.hit" value="{{system.unarmed.hit}}"
							data-dtype="Number" />
					</div>

					<div class="flexcol">
						<label for="system.unarmed.power" class="resource-label">Unarmed Power</label>
						<input type="text" name="system.unarmed.power" value="{{system.unarmed.power}}"
							data-dtype="Number" />
					</div>

					<div class="flexcol">
						<label for="system.powerDice.item" class="resource-label">Item Power Dice</label>
						<input type="text" name="system.powerDice.item" value="{{system.powerDice.item}}"
							data-dtype="Number" />
					</div>

					<div class="flexcol">
						<label for="system.aux.showTCheaders" class="resource-label">Set TC formulas</label>
						<button class="set-tc-formulas"
							style="padding: 10px 15px; background-color: #007bff; color: #fff; border: none; border-radius: 5px; cursor: pointer;">Set
							TC Formulas</button>
					</div>

					<div class="flexcol">
						<label for="system.aux.showTCheaders" class="resource-label">Set Base X Human</label>
						<button class="set-x-human"
							style="padding: 10px 15px; background-color: #007bff; color: #fff; border: none; border-radius: 5px; cursor: pointer;">Set
							X Human</button>
					</div>

					<div class="flexcol">
						<label for="system.aux.showTCheaders" class="resource-label">Set Base X Demon</label>
						<button class="set-x-demon"
							style="padding: 10px 15px; background-color: #007bff; color: #fff; border: none; border-radius: 5px; cursor: pointer;">Set
							X Demon</button>
					</div>
			</section>

			<hr>

			<section class="main">
				<div class="flexrow">
					{{#each system.affinity as |aff key|}}
						<div class="flexcol">
							<label for="system.affinity.{{key}}" class="resource-label align-center">{{localize
              (lookup @root.config.affinities key)}}</label>
							<select name="system.affinity.{{key}}">
								{{selectOptions @root.config.charAffinity selected=aff localize=true}}
							</select>
						</div>
					{{/each}}
				</div>
				<div class="flexrow">
					{{#each system.affinityBS as |aff key|}}
						<div class="flexcol">
							<label for="system.affinityBS.{{key}}" class="resource-label align-center">{{localize
              (lookup @root.config.badStatusList key)}}</label>
							<select name="system.affinityBS.{{key}}">
								{{selectOptions @root.config.charAffinity selected=aff localize=true}}
							</select>
						</div>
					{{/each}}
				</div>
			</section>
		</div>
	</section>
</form>