<form class="{{cssClass}} {{actor.type}} grid-form" autocomplete="off">
    <div class="sidebar" id="smt-200x-kyane-sidebar">

        <div class="sidebar-separation">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="175"
                width="175" />
        </div>

        <div class="abilities flexcol sidebar-separation">
            {{#each system.stats as |ability key|}}
                {{> "modules/smt-200x-kyane-sheet/templates/actor/parts/actor-stats.hbs" key=key ability=ability fStat=../system.favoredStat}}
            {{/each}}
        </div>

        <div class="sidebar-separation">
            {{> "modules/smt-200x-kyane-sheet/templates/actor/parts/actor-sidebar-derived-stats.hbs"}}
        </div>


    </div>
    <div class="main" id="smt-200x-kyane-main">
        <header class="sheet-header">

            <div class="header-fields grid grid-8col">
                <h1 class="charname grid-span-6"><input name="name" type="text" value="{{actor.name}}"
                        placeholder="Name" /></h1>

                <div class="resources grid grid-6col">

                    <div class="grid-span-2 resource flex-group-center">
                        <div class="resource-numbers flexrow">
                            <label for="system.hp.value" class="resource-label">HP</label>
                            <div class="flexrow flex-center align-right">
                                <input type="text" class="resource-number" name="system.hp.value"
                                    value="{{system.hp.value}}" data-dtype="Number" />
                                <span>/</span>
                                <span class="resource-number">{{system.hp.max}}</span>
                            </div>
                        </div>
                        <div class="resource-gauge">
                            <progress class="resource-gauge-graphics rgg-hp" max="{{system.hp.max}}"
                                value="{{system.hp.value}}">{{system.hp.value}}</progress>
                        </div>
                    </div>

                    <div class="grid-span-2 resource flex-group-center">
                        <div class="resource-numbers flexrow flex-center">
                            <label for="system.mp.value" class="resource-label">MP</label>
                            <div class="flexrow flex-center align-right">
                                <input type="text" class="resource-number" name="system.mp.value"
                                    value="{{system.mp.value}}" data-dtype="Number" />
                                <span>/</span>
                                <span class="resource-number">{{system.mp.max}}</span>
                            </div>
                        </div>
                        <div class="resource-gauge">
                            <progress class="resource-gauge-graphics rgg-mp" max="{{system.mp.max}}"
                                value="{{system.mp.value}}">{{system.mp.value}}</progress>
                        </div>
                    </div>

                    <div class="grid-span-2 resource flex-group-center">
                        <div class="resource-numbers flexrow flex-center">
                            <label for="system.fate.value" class="resource-label">FATE</label>
                            <div class="flexrow flex-center align-right">
                                <input type="text" class="resource-number" name="system.fate.value"
                                    value="{{system.fate.value}}" data-dtype="Number" />
                                <span>/</span>
                                <span class="resource-number">{{system.fate.max}}</span>
                            </div>
                        </div>
                        <div class="resource-gauge">
                            <progress class="resource-gauge-graphics rgg-fate" max="{{system.fate.max}}"
                                value="{{system.fate.value}}">{{system.fate.value}}</progress>
                        </div>
                    </div>


                </div>

                <div class="level-partial">
                    {{> "modules/smt-200x-kyane-sheet/templates/actor/parts/actor-level.hbs"}}
                </div>
            </div>

            <div class="grid grid-8col header-fields-secondary">
                <div class="flexrow grid-span-8">
                    <label class="resource-label affinities-label">Affinities:</label>
                    <div class='affinities' id="affinities">
                        <div class="affinities-text" id="affinities-text">
                            {{system.displayAffinity}} {{#if system.displayAffinityBS}} /
                                {{system.displayAffinityBS}}{{/if}}
                        </div>
                    </div>
                </div>

                <div class="grid grid-8col grid-span-8">

                    <div class='grid grid-5col flex-group-center equipped-weapons'>
                        <div class="grid-span-2"><strong>Ready Weapon</strong></div>
                        <div class="grid-span-1"><strong>Ammo</strong></div>
                        <div><strong>Hit</strong></div>
                        <div><strong>Pwr</strong></div>

                        <div class='flexrow grid-span-2 item-name' style="align-items: center">
                            <label for="system.wepA.name" class="flex0"><strong>A:</strong>&nbsp;</label>
                            <input type="text" name="system.wepA.name" value="{{system.wepA.name}}" />
                        </div>
                        <div>
                            <input type="text" name="system.wepA.ammo" value="{{system.wepA.ammo}}"
                                data-dtype="Number" />
                            /
                            <input type="text" name="system.wepA.maxAmmo" value="{{system.wepA.maxAmmo}}"
                                data-dtype="Number" />
                        </div>
                        <input type="text" name="system.wepA.hit" value="{{system.wepA.hit}}" data-dtype="Number" />
                        <input type="text" name="system.wepA.power" value="{{system.wepA.power}}" data-dtype="Number" />

                        <div class='flexrow grid-span-2 item-name' style="align-items: center">
                            <label for="system.wepB.name" class="flex0"><strong>B:</strong>&nbsp;</label>
                            <input type="text" name="system.wepB.name" value="{{system.wepB.name}}" />
                        </div>
                        <div>
                            <input type="text" name="system.wepB.ammo" value="{{system.wepB.ammo}}"
                                data-dtype="Number" />
                            /
                            <input type="text" name="system.wepB.maxAmmo" value="{{system.wepB.maxAmmo}}"
                                data-dtype="Number" />
                        </div>
                        <input type="text" name="system.wepB.hit" value="{{system.wepB.hit}}" data-dtype="Number" />
                        <input type="text" name="system.wepB.power" value="{{system.wepB.power}}" data-dtype="Number" />
                    </div>

                </div>
            </div>
        </header>


        <div class="sheet-tabs-container">
            {{!-- Sheet Tab Navigation --}}
            <nav class="sheet-tabs tabs" data-group="primary">
                {{!-- Default tab is specified in actor-sheet.mjs --}}
                <a class="item" data-tab="features">Actions</a>
                <a class="item" data-tab="items">Items</a>
                <a class="item" data-tab="description">About</a>
                <a class="item" data-tab="effects">Options</a>
            </nav>

            {{!-- Sheet Body --}}
            <section class="sheet-body">
                {{!-- Owned Features Tab --}}
                <div class="tab features" data-group="primary" data-tab="features">

                    <section class="main tn-custom-proll">
                        <div class="grid grid-4col" style="margin: 0;">
                            <div class="flexrow flex-center flex-between align-center">
                                <i title="Toggles resetting this field to 0% after rolling a TN check."
                                    class="fa-solid clickable {{#if system.resetModTN}}fa-arrows-spin{{else}}fa-xmark{{/if}} toggle-resetModTN"
                                    style="margin: auto;"></i>
                                <span class="flex2" style="margin: auto;">TN Mod:</span>
                                <i class="fa-solid clickable fa-minus decrease-quickModTN" style="margin: auto;"></i>
                                <input type="text" name="system.quickModTN" value="{{system.quickModTN}}%"
                                    data-dtype="Number" disabled />
                                <i class="fa-solid clickable fa-plus increase-quickModTN" style="margin: auto;"></i>
                            </div>
                            <div class="align-center clickable custom-power-roll">Custom Power Roll     <i class="fa-solid fa-person-burst" style="margin: auto;"></i>
                            </div>
                            {{> "modules/smt-200x-kyane-sheet/templates/actor/parts/part-quick-status.hbs"}}
                        </div>
                    </section>

                    <section class="main">
                        {{> "modules/smt-200x-kyane-sheet/templates/actor/parts/actor-features.hbs"}}
                    </section>


                    <section class="main">
                        {{> "modules/smt-200x-kyane-sheet/templates/actor/parts/actor-passives.hbs"}}
                    </section>
                </div>



                {{!-- Items Tab --}}
                <div class="tab items" data-group="primary" data-tab="items">
                    <section class="main">
                        {{> "modules/smt-200x-kyane-sheet/templates/actor/parts/actor-weapons.hbs"}}
                        {{> "modules/smt-200x-kyane-sheet/templates/actor/parts/actor-armor.hbs"}}
                        {{> "modules/smt-200x-kyane-sheet/templates/actor/parts/actor-consumables.hbs"}}
                    </section>
                </div>



                {{!-- Biography Tab --}}
                <div class="tab biography" data-group="primary" data-tab="description">
                    <div class="flexrow">
                        <div class="flex2">
                            <div class="grid grid-12col">
                                <label for="system.sex" class="resource-label">Sex</label>
                                <input type="text" name="system.sex" class="grid-span-3" value="{{system.sex}}" />
                                <label for="system.age" class="resource-label">Age</label>
                                <input type="text" name="system.age" class="grid-span-3" value="{{system.age}}" />
                                <label for="system.race" class="resource-label">Race</label>
                                <input type="text" name="system.race" class="grid-span-3" value="{{system.race}}" />
                            </div>
                            <div class="grid grid-4col flex-group-center">
                                {{#if system.aux.showTCheaders}}
                                    <label class="resource-label align-left">EXP Rate</label>
                                    <label class="resource-label">Human</label>
                                    <label class="resource-label">Fiend</label>
                                    <label class="resource-label">Demon</label>
                                {{else}}
                                    <label class="resource-label align-left">Awakening Tier</label>
                                    <label class="resource-label">I Gifted</label>
                                    <label class="resource-label">II Awakened</label>
                                    <label class="resource-label">III Metahuman</label>
                                {{/if}}
                            </div>
                            <div class="grid grid-4col">
                                {{#if system.aux.showTCheaders}}
                                    <label class="resource-label">Details</label>
                                {{else}}
                                    <label class="resource-label">Classes</label>
                                {{/if}}
                                <input type="text" name="system.class1" value="{{system.class1}}" />
                                <input type="text" name="system.class2" value="{{system.class2}}" />
                                <input type="text" name="system.class3" value="{{system.class3}}" />
                            </div>
                            <div class="grid grid-4col">
                                <label for="x" class="resource-label">Experience</label>
                                <input type="text" name="system.attributes.exp.tierOne"
                                    value="{{system.attributes.exp.tierOne}}" data-dtype="Number" />
                                <input type="text" name="system.attributes.exp.tierTwo"
                                    value="{{system.attributes.exp.tierTwo}}" data-dtype="Number" />
                                <input type="text" name="system.attributes.exp.tierThree"
                                    value="{{system.attributes.exp.tierThree}}" data-dtype="Number" />
                            </div>
                            <div class="grid grid-4col">
                                <label for="system.backgrounds" class="resource-label">Backgrounds</label>
                                <input type="text" name="system.backgrounds" class="grid-span-3"
                                    value="{{system.backgrounds}}" />
                            </div>
                            <div class="grid grid-4col">
                                <label for="system.contacts" class="resource-label">Contacts</label>
                                <input type="text" name="system.contacts" class="grid-span-3"
                                    value="{{system.contacts}}" />
                            </div>

                            <div class="grid grid-12col">
                                <label for="system.law" class="resource-label">Law</label>
                                <input type="text" name="system.law" value="{{system.law}}" data-dtype="Number" />
                                <label for="system.chaos" class="resource-label">Chaos</label>
                                <input type="text" name="system.chaos" value="{{system.chaos}}" data-dtype="Number" />
                                <label for="system.neutral" class="resource-label">Neutral</label>
                                <input type="text" name="system.neutral" value="{{system.neutral}}"
                                    data-dtype="Number" />
                                <label for="system.light" class="resource-label">Light</label>
                                <input type="text" name="system.light" value="{{system.light}}" data-dtype="Number" />
                                <label for="system.dark" class="resource-label">Dark</label>
                                <input type="text" name="system.dark" value="{{system.dark}}" data-dtype="Number" />
                                <label for="system.heeho" class="resource-label">Hee-ho</label>
                                <input type="text" name="system.heeho" value="{{system.heeho}}" data-dtype="Number" />
                            </div>

                            <div class="flexrow">
                                <div class="flexcol">
                                    <label for="system.alignment" class="resource-label">Alignment</label>
                                    <input type="text" name="system.alignment" value="{{system.alignment}}" />
                                </div>

                                <div class="flexcol">
                                    <label for="system.macca" class="resource-label">Held Macca</label>
                                    <input type="text" name="system.macca" value="{{system.macca}}"
                                        data-dtype="Number" />
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
                    {{editor enrichedBiography target="system.biography" engine="prosemirror" button=true editable=editable}}
                </div>






                {{!-- Active Effects Tab --}}
                <div class="tab effects flexcol" data-group="primary" data-tab="effects">
                    <section class="main">
                        {{> "systems/smt-200x/templates/actor/parts/actor-effects.hbs"}}
                    </section>

                    <hr>

                    <section class="main">
                        <div class="grid grid-5col">
                            <div class="flexcol">
                                <label for="system.hp.mult" class="resource-label">HP Multiplier</label>
                                <input type="text" name="system.hp.mult" value="{{system.hp.mult}}"
                                    data-dtype="Number" />
                            </div>

                            <div class="flexcol">
                                <label for="system.mp.mult" class="resource-label">MP Multiplier</label>
                                <input type="text" name="system.mp.mult" value="{{system.mp.mult}}"
                                    data-dtype="Number" />
                            </div>

                            <div class="flexcol">
                                <label for="system.human" class="resource-label"
                                    title="Uses the 'Human' Phy/Mag Defense Formulas from the settings menu.">Human</label>
                                <input type="checkbox" name="system.human" {{#if system.human}}checked{{/if}} />
                            </div>

                            <div class="flexcol">
                                <label class="resource-label"
                                    title="Tokyo Conception Demon Favored Stat (marks an asterisk by a stat for randomized level-up stats)">Favored
                                    Stat</label>
                                <select name="system.favoredStat">
                                    <option value="none">None</option>
                                    {{selectOptions @root.config.stats selected=system.favoredStat localize=true}}
                                </select>
                            </div>

                            <div class="flexcol">
                                <label for="system.unarmed.hit" class="resource-label">Unarmed Hit</label>
                                <input type="text" name="system.unarmed.hit" value="{{system.unarmed.hit}}"
                                    data-dtype="Number" />
                            </div>

                            <div class="flexcol">
                                <label for="system.unarmed.power" class="resource-label">Unarmed Power</label>
                                <input type="text" name="system.unarmed.power" value="{{system.unarmed.power}}"
                                    data-dtype="Number" />
                            </div>

                            <div class="flexcol">
                                <label for="system.powerDice.item" class="resource-label">Item Power Dice</label>
                                <input type="text" name="system.powerDice.item" value="{{system.powerDice.item}}"
                                    data-dtype="Number" />
                            </div>
                    </section>


                    <br><br>
                    <section class="main">
                        {{> "modules/smt-200x-kyane-sheet/templates/actor/parts/part-affinity-bs-selectors.hbs"}}
                    </section>
                </div>


            </section>
        </div>
    </div>


</form>