<form class="{{cssClass}} {{actor.type}} grid-form" autocomplete="off">
    <div class="sidebar" id="smt-200x-kyane-sidebar">

        <div class="sidebar-separation">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="175"
                width="175" />
        </div>

        <div class="abilities flexcol sidebar-separation">
            {{#each system.stats as |ability key|}}
                {{> "modules/smt-200x-kyane-sheet/templates/actor/parts/actor-stats.hbs" key=key ability=ability fStat=../system.favoredStat}}
            {{/each}}
        </div>

        <div class="sidebar-separation">
            {{> "modules/smt-200x-kyane-sheet/templates/actor/parts/actor-sidebar-derived-stats.hbs"}}
        </div>


    </div>
    <div class="main" id="smt-200x-kyane-main">
        <header class="sheet-header">

            <div class="header-fields grid grid-8col">
                <h1 class="charname grid-span-6"><input name="name" type="text" value="{{actor.name}}"
                        placeholder="Name" /></h1>

                <div class="resources grid grid-6col">

                    <div class="grid-span-2 resource flex-group-center">
                        <div class="resource-numbers flexrow">
                            <label for="system.hp.value" class="resource-label">HP</label>
                            <div class="flexrow flex-center align-right">
                                <input type="text" class="resource-number" name="system.hp.value"
                                    value="{{system.hp.value}}" data-dtype="Number" />
                                <span>/</span>
                                <span class="resource-number">{{system.hp.max}}</span>
                            </div>
                        </div>
                        <div class="resource-gauge">
                            <progress class="resource-gauge-graphics rgg-hp" max="{{system.hp.max}}"
                                value="{{system.hp.value}}">{{system.hp.value}}</progress>
                        </div>
                    </div>

                    <div class="grid-span-2 resource flex-group-center">
                        <div class="resource-numbers flexrow flex-center">
                            <label for="system.mp.value" class="resource-label">MP</label>
                            <div class="flexrow flex-center align-right">
                                <input type="text" class="resource-number" name="system.mp.value"
                                    value="{{system.mp.value}}" data-dtype="Number" />
                                <span>/</span>
                                <span class="resource-number">{{system.mp.max}}</span>
                            </div>
                        </div>
                        <div class="resource-gauge">
                            <progress class="resource-gauge-graphics rgg-mp" max="{{system.mp.max}}"
                                value="{{system.mp.value}}">{{system.mp.value}}</progress>
                        </div>
                    </div>

                    <div class="grid-span-2 resource flex-group-center">
                        <div class="resource-numbers flexrow flex-center">
                            <label for="system.fate.value" class="resource-label">FATE</label>
                            <div class="flexrow flex-center align-right">
                                <input type="text" class="resource-number" name="system.fate.value"
                                    value="{{system.fate.value}}" data-dtype="Number" />
                                <span>/</span>
                                <span class="resource-number">{{system.fate.max}}</span>
                            </div>
                        </div>
                        <div class="resource-gauge">
                            <progress class="resource-gauge-graphics rgg-fate" max="{{system.fate.max}}"
                                value="{{system.fate.value}}">{{system.fate.value}}</progress>
                        </div>
                    </div>


                </div>

                <div class="level-partial">
                    {{> "modules/smt-200x-kyane-sheet/templates/actor/parts/npc-level.hbs"}}
                </div>
            </div>

            <div class="grid grid-8col npc-info">

                <div class="grid-span-3">
                    <div class="flex-group-center grid-span-3 equipped-weapons">
                        <label for="system.fuseID" class="resource-label affinities-label">Fuse ID</label>
                        <div>
                            <div>
                                <input type="text" name="system.fuseID" value="{{system.fuseID}}" />
                            </div>
                        </div>
                    </div>
                </div>


                <div class="grid-span-5 flex-group-center">
                    <label class="resource-label affinities-label">Affinities:</label>
                    <div class='affinities' id="affinities-npc">
                        <div id="affinities-text-npc">
                            {{system.displayAffinity}} {{#if system.displayAffinityBS}} /
                                {{system.displayAffinityBS}}{{/if}}
                        </div>
                    </div>
                </div>


                <div class="grid-span-8">
                    <textarea class="npc-biography" name="system.biography" rows="5"
                        cols="40">{{system.biography}}</textarea>
                </div>


                <div class="grid grid-8col npc-info-details">
                    <div class="grid-span-4">
                        <label for="system.alignment" class="resource-label">&nbsp;Alignment&nbsp;</label>
                        <input type="text" name="system.alignment" value="{{system.alignment}}" />

                    </div>

                    <div class="grid-span-4">
                        {{#if system.aux.showTCheaders}}
                            <label for="system.tone" class="resource-label">&nbsp;Behavior&nbsp;</label>
                        {{else}}
                            <label for="system.tone" class="resource-label">&nbsp;Tone&nbsp;</label>
                        {{/if}}
                        <input type="text" name="system.tone" value="{{system.tone}}" />
                    </div>

                    <div class="grid-span-4">
                        {{#if system.aux.showTCheaders}}
                            <label for="system.keywords" class="resource-label">&nbsp;Evolve?&nbsp;</label>
                        {{else}}
                            <label for="system.keywords" class="resource-label">&nbsp;Keywords&nbsp;</label>
                        {{/if}}
                        <input type="text" name="system.keywords" value="{{system.keywords}}" />
                    </div>

                    <div class="grid-span-4">
                        {{#if system.aux.showTCheaders}}
                            <label for="system.ngWords" class="resource-label">&nbsp;Inherits&nbsp;</label>
                        {{else}}
                            <label for="system.ngWords" class="resource-label">&nbsp;NG Words&nbsp;</label>
                        {{/if}}
                        <input type="text" name="system.ngWords" value="{{system.ngWords}}" />
                    </div>

                    <div class="grid-span-4">
                        <label for="system.loot" class="resource-label">&nbsp;Loot&nbsp;</label>
                        <input type="text" name="system.loot" value="{{system.loot}}" />
                    </div>

                    <div class="grid-span-4">
                        <label for="system.attributes.exp.tierOne" class="resource-label">&nbsp;EXP&nbsp;</label>
                        <input type="text" name="system.attributes.exp.tierOne"
                            value="{{system.attributes.exp.tierOne}}" {{#if system.autoEXP}}disabled{{/if}} />
                    </div>


                    <div class="grid-span-4">
                        <label for="system.rare" class="resource-label">&nbsp;Rare&nbsp;</label>
                        <input type="text" name="system.rare" value="{{system.rare}}" />
                    </div>

                    <div class="grid-span-4">
                        <label for="system.macca" class="resource-label">&nbsp;Macca&nbsp;</label>
                        <input type="text" name="system.macca" value="{{system.macca}}"
                            {{#if system.autoEXP}}disabled{{/if}} />
                    </div>

                </div>

            </div>
        </header>


        <div class="sheet-tabs-container-npc">
            {{!-- Sheet Tab Navigation --}}
            <nav class="sheet-tabs tabs" data-group="primary">
                {{!-- Default tab is specified in actor-sheet.mjs --}}
                <a class="item" data-tab="features">Actions</a>
                <a class="item" data-tab="effects">Options</a>
            </nav>

            {{!-- Sheet Body --}}
            <section class="sheet-body sheet-body-npc">
                {{!-- Owned Features Tab --}}
                <div class="tab features" data-group="primary" data-tab="features">

                    <section class="main tn-custom-proll">
                        <div class="grid grid-4col" style="margin: 0;">
                            <div class="flexrow flex-center flex-between align-center">
                                <i title="Toggles resetting this field to 0% after rolling a TN check."
                                    class="fa-solid clickable {{#if system.resetModTN}}fa-arrows-spin{{else}}fa-xmark{{/if}} toggle-resetModTN"
                                    style="margin: auto;"></i>
                                <span class="flex2" style="margin: auto;">TN Mod:</span>
                                <i class="fa-solid clickable fa-minus decrease-quickModTN" style="margin: auto;"></i>
                                <input type="text" name="system.quickModTN" value="{{system.quickModTN}}%"
                                    data-dtype="Number" disabled />
                                <i class="fa-solid clickable fa-plus increase-quickModTN" style="margin: auto;"></i>
                            </div>

                            {{> "modules/smt-200x-kyane-sheet/templates/actor/parts/part-quick-status.hbs"}}
                        </div>
                    </section>

                    <section class="main">
                        {{> "modules/smt-200x-kyane-sheet/templates/actor/parts/npc-features.hbs"}}
                    </section>


                    <section class="main">
                        {{> "modules/smt-200x-kyane-sheet/templates/actor/parts/actor-passives.hbs"}}
                    </section>
                </div>

                {{!-- Active Effects Tab --}}
                <div class="tab effects flexcol" data-group="primary" data-tab="effects">
                    {{> "modules/smt-200x-kyane-sheet/templates/actor/parts/npc-options.hbs"}}
                </div>
            </section>
        </div>
    </div>


</form>